<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Viajes el destino feliz</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body class="container">
    <header>
        <h1> <%=titulo%> </h1>
    </header>
    <br>
    <br>
    <br>
   
</body>
</html>